.editor-stage{
    .art-board{
        position: relative;
        width: 1000px;
        height: 800px;
        canvas, svg{
            width: 100%;
            height: 100%;
            position:absolute;
            left: 0;
            top: 0;
        }
        svg{
            path{
                fill: rgba($pathColor, .2);
            }
        }
    }
}